<head>

  <%# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://png2.cleanpng.com/sh/9ed0545f037cfe8615c97d7a196f5d9e/L0KzQYm3U8IxN6dwiZH0aYP2gLBuTfNiel51eeR0LYDkgrzwjvcua5DyiOd9ZYKwebT2jwMucJD5fd42aXPyfn73ggJscZ9sRd5yYoLkgsq0VfFjOJNnSaU7MnG8R4K1VMY1QGI3SqY6NUK0RYS4VsY4OWU3RuJ3Zx==/kisspng-car-park-parking-computer-icons-hotel-icon-parking-library-5ab0bb1322a971.464812241521531667142.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      ParkingSystem
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown navbar-right">
          <a class="nav-link navbar-right  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Action
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <li>
                    <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
                </li>
                <li>
                    <%= link_to "Edit Profile", edit_user_registration_path , class: "dropdown-item" %>
                </li><hr>
                <% if current_user.user_type.upcase=="ADMIN"%>
                  <li>
                    <%= link_to "See All Users Data", after_admin_signin_index_path, class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "See All Vehicle", vehicle_path, class: "dropdown-item" %>
                  </li>    
                <% else %>
                  <li>
                    <%= link_to "Menu", after_user_signin_index_path, class: "dropdown-item" %>
                  </li>
                <% end %>
            <% else %>
                <li>
                    <%= link_to 'Login', new_user_session_path, class: 'dropdown-item'%>
                </li>
            <% end %>
         </ul>   
        </li>
      </ul>
      <% if user_signed_in? %>
          <% if current_user.user_type.upcase=="ADMIN"%>         
              <%= form_tag(search_path, :method => "get") do %>
                <div class ="d-flex" ><%= search_field_tag :search, params[:search], :placeholder => "Search", class:"form-control me-2"%>
                <%= button_tag "Search",class:"btn btn-outline-success",:name=>nil %></div>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</nav>

